<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAPER REFERENCE IN DBLP</title>
</head>
<body>
    <H1>
        PAPER REFERENCE IN DBLP
    </H1>

    <address>
        czhou PB19030889
    </address>
<hr>
    <form action="/index" method="post">
        Choose paper:
        <div class="form-group">
            <select class="form-control" id="paper" name="paper">
                <option value="add"> add </option>
                {% for paper in papers %}
                    <option value={{paper}}>{{paper}}</option>
                {% endfor %}
            </select>
        </div>
            <div class="form-group">
                <input type="submit" value="Show reference"/>
        </div>
    </form>

</body>
</html>